{% extends "partials/frameTopMenu.twig" %}

{% block page_trigger %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="#" data-type="single"  data-trigger="new-pegawai" class="page-trigger breadcrumb-elements-item">
            <i class="icon-file-plus mr-2"></i>
            Tambah Pegawai
        </a>
        <div class="breadcrumb-elements-item dropdown p-0">
            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                <i class="icon-file-text3 mr-2"></i>
                Export
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" data-trigger="export-excel" class="page-trigger dropdown-item"><i class="icon-file-excel"></i> Export to Excel</a>
                <a href="#" data-trigger="export-pdf" class="page-trigger dropdown-item"><i class="icon-file-pdf"></i> Export to PDF</a>
                <div class="dropdown-divider"></div>
                <a href="#" data-trigger="print-pdf" class="page-trigger dropdown-item"><i class="icon-printer2"></i> Print</a>
            </div>
        </div>
    </div>
</div>
{% endblock page_trigger %}

{% block frameTopMenuTrigger %}
    <ul class="navbar-nav navbar-nav-highlight ml-md-auto">
        <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog3"></i>
                <span class="d-md-none ml-2">Menu Pegawai</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" data-type="single" data-trigger="new-pegawai" class="page-trigger dropdown-item"><i class="icon-file-plus"></i> Tambah Pegawai</a>
                <div class="dropdown-divider"></div>
                <a href="#" data-trigger="export-excel" class="page-trigger dropdown-item"><i class="icon-file-excel"></i><i class="icon-file-pdf"></i> Export Excel/PDF</a>
            </div>
        </li>
    </ul>
{% endblock frameTopMenuTrigger %}


{% block site_content %}
    <!-- Content area -->
    <div class="content">

        <!-- Pegawai Filter -->
        <div class="card card-collapsed">
            <div class="card-header header-elements-inline">
                <h6 class="card-title">Filter List</h6>
                <div class="header-elements">
                    <div class="list-icons">
                        <a id="pegawai-filter-collapse" class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <form id="form-pegawai-filter" action="#">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font-weight-semibold">Status Kepegawaian</label>
                                <select id="status-kepeg" name="status-kepeg" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    {% for x in jenisKepeg %}
                                        <option value="{{x.jenisKepegawaianId}}">{{x.jenisKepegawaian}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Pendidikan</label>
                                <select id="pendidikan" name="pendidikan" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    {% for x in jenisPendidikan %}
                                        <option value="{{x.jenisPendidikanId}}">{{x.jenisPendidikan}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Agama</label>
                                <select id="agama" name="agama" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    {% for x in agama %}
                                        <option value="{{x.jenisAgamaId}}">{{x.jenisAgama}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Tanggal Lahir</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                    </span>
                                    <input id="tgl-lahir" name="tgl-lahir" type="text" class="form-control daterange-basic"> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font-weight-semibold">Jenis Kelamin</label>
                                <select id="jk" name="jk" class="form-control custom-select" autocomplete="off" name="golongan-darah">
                                    <option value="">Semua</option>
                                    <option value="1">Laki-laki</option>
                                    <option value="2">Perempuan</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Status Pernikahan</label>
                                <select  id="status-pernikahan" name="status-pernikahan" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    <option value="1">Belum Menikah</option> 
                                    <option value="2">Menikah</option> 
                                    <option value="3">Janda</option> 
                                    <option value="4">Duda</option> 
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Pangkat</label>
                                <select id="pangkat" name="pangkat" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    {% for x in pangkat %}
                                        <option value="{{x.jenisPangkatGolonganId}}">{{x.golonganRuang}} - {{x.pangkat}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Jenis Jabatan</label>
                                <select  id="jenis-jabatan" name="jenis-jabatan" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    <option value="1">Jabatan Fungsional</option> 
                                    <option value="2">Jabatan Struktural</option> 
                                    <option value="3">Fungsional Umum</option> 
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font-weight-semibold">Eselon</label>
                                <select  id="eselon" name="eselon" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    <option value="1">I</option> 
                                    <option value="2">II</option> 
                                    <option value="3">III</option> 
                                    <option value="4">IV</option> 
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Bidang</label>
                                <select id="bidang" name="bidang" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    {% for x in jenisBidang %}
                                        <option value="{{x.jenisBidangId}}">{{x.bidang}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold">Sub. Bagian</label>
                                <select id="subbag" name="subbag" class="form-control multiselect-filtering" multiple="multiple" data-fouc>
                                    {% for x in jenisSubbag %}
                                        <option value="{{x.jenisSubbagId}}">{{x.subbag}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary legitRipple"><i class="icon-search4 mr-1"></i> Filter</button>
                            </div>                                  
                        </div>                              
                    </div>
                </form>
            </div>
        </div>
        <!-- END Pegawai Filter -->

        <!-- Driver Table -->
        <div class="card">
            <table id="pegawai-table" class="table datatable-resize">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Tempat/Tgl Lahir</th>
                        <th>Status Kepegawaian</th>
                        <th>Golongan/Pangkat</th>
                        <th>Jabatan</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>                   
                </tbody>
            </table>
        </div>
        <!-- End Driver Table -->

    </div>
    <!-- /content area -->
{% endblock site_content %}
