{% extends "partials/frameTopMenu.twig" %}

{% block site_content %}
    <!-- Content Area -->
    <div class="content">

        <!-- Pegawai Form -->
        <div class="card card-collapsed">
            <div class="card-body">
                <form id="pegawai-edit-form" action="#">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Data Kepegawaian</legend>
                        
                        <input type="hidden" name="task" value="{{pegawai ? 'update' : 'save'}}">
                        <input type="hidden" name="id" value="{{pegawai ? pegawai.pegawaiId}}">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Status Kepegawaian:</label>
                                    <select class="custom-select" autocomplete="off" name="jenis-kepegawaian">
                                        {% for kep in jenisKepeg %}
                                        <option value="{{kep.jenisKepegawaianId}}" 
                                            {% if pegawai %}
                                                {{pegawai.jenisKepegawaianId == kep.jenisKepegawaianId ? 'selected="selected"'}}
                                            {% endif %}
                                        >{{kep.jenisKepegawaian}}</option>
                                        {% endfor %}  
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>NIP:</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="NIP" name="nip" value="{{pegawai ? pegawai.nip}}" required>
                                </div>

                                <div class="form-group">
                                    <label>Nama:</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="Nama" name="nama" value="{{pegawai ? pegawai.nama}}" required>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Gelar Depan:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Gelar Depan" name="gelar-depan" value="{{pegawai ? pegawai.gelarDepan}}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Gelar Belakang:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Gelar Belakang" name="gelar-belakang" value="{{pegawai ? pegawai.gelarBelakang}}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tempat Lahir:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Tempat Lahir" name="tempat-lahir" value="{{pegawai ? pegawai.tempatLahir}}" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tanggal Lahir:</label>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                                </span>                                                
                                                <input type="text" autocomplete="off" class="form-control daterange tgl-lahir" data-variable="tglLahir" placeholder="Tanggal Lahir" name="tgl-lahir" value="{% if pegawai.tglLahirFormat %}{{pegawai.tglLahirFormat}}{% endif %}" required readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Jenis Kelamin:</label>
                                            <div class="input-group">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" autocomplete="off" name="jk" class="form-check-input-styled" value="1" {{pegawai.jk == 1 ? 'checked'}} data-fouc>
                                                        Laki-laki
                                                    </label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" autocomplete="off" name="jk" class="form-check-input-styled" value="2" {{pegawai.jk == 2 ? 'checked'}} data-fouc>
                                                        Perempuan
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Agama:</label>
                                            <select class="custom-select" autocomplete="off" name="agama">
                                                {% for ag in agama %}
                                                <option value="{{ag.jenisAgamaId}}" 
                                                    {% if pegawai %}
                                                        {{pegawai.jenisAgamaId == ag.jenisAgamaId ? 'selected="selected"'}}
                                                    {% endif %}
                                                >{{ag.jenisAgama}}</option>
                                                {% endfor %}  
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>No. Telepon:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="No. Telepon" name="telepon" value="{{pegawai ? pegawai.noTelepon}}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Email" name="email" value="{{pegawai ? pegawai.email}}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Golongan Darah:</label>
                                            <select class="custom-select" autocomplete="off" name="golongan-darah">
                                                <option value="O"{{pegawai.golonganDarah == "O" ? 'selected="selected"'}}>O</option> 
                                                <option value="A"{{pegawai.golonganDarah == "A" ? 'selected="selected"'}}>A</option> 
                                                <option value="B"{{pegawai.golonganDarah == "B" ? 'selected="selected"'}}>B</option> 
                                                <option value="AB"{{pegawai.golonganDarah == "AB" ? 'selected="selected"'}}>AB</option> 
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <!-- User card -->
                                    <div class="col-md-4">
                                    </div>
                                    <div class="card col-md-4">
                                        <div class="card-body text-center">
                                            <div class="card-img-actions d-inline-block mb-3">
                                                <img class="img-fluid" id="pegawai-image-preview" src="{% if pegawai.foto is not null and pegawai.foto is not empty %} {{baseUrl}}/assets/pegawai/photos/{{pegawai.foto}} {% else %} {{baseUrl}}/assets/dist/images/placeholder.jpg {% endif %}" width="170" height="170" alt="">
                                                <div class="card-img-actions-overlay card-img">
                                                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round upload-image">
                                                        <i class="icon-plus3"></i>
                                                    </a>
                                                    </a>
                                                </div>
                                            </div>

                                            <input type="file" id="pegawai-image" name="pegawai-image" accept="image/x-png,image/jpeg" style="display:none">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <!-- /user card -->
                                </div>

                                <div class="form-group">
                                    <label>Alamat:</label>
                                    <textarea autocomplete="off" rows="3" cols="5" class="form-control" placeholder="Alamat" name="alamat">{{pegawai ? pegawai.alamat}}</textarea>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Desa/Kelurahan:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Desa/Kelurahan" name="kelurahan" value="{{pegawai ? pegawai.kelurahan}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Kecamatan:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Kecamatan" name="kecamatan" value="{{pegawai ? pegawai.kecamatan}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Kabupaten/Kota:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Kabupaten/Kota" name="kabupaten" value="{{pegawai ? pegawai.kabupaten}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Provinsi:</label>
                                            <select class="custom-select" autocomplete="off" name="provinsi">
                                                {% for pv in provinsi %}
                                                <option value="{{pv.jenisProvinsiId}}" 
                                                    {% if pegawai %}
                                                        {{pegawai.jenisProvinsiId == pv.jenisProvinsiId ? 'selected="selected"'}}
                                                    {% endif %}
                                                >{{pv.provinsi}}</option>
                                                {% endfor %}  
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Kode Pos:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="Kode Pos" name="kode-pos" value="{{pegawai ? pegawai.kodePos}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Status Pernikahan:</label>
                                            <select class="custom-select" autocomplete="off" name="status-pernikahan">
                                                <option value="1"{{pegawai.statusPernikahan == "1" ? 'selected="selected"'}}>Belum Menikah</option> 
                                                <option value="2"{{pegawai.statusPernikahan == "2" ? 'selected="selected"'}}>Menikah</option> 
                                                <option value="3"{{pegawai.statusPernikahan == "3" ? 'selected="selected"'}}>Janda</option> 
                                                <option value="4"{{pegawai.statusPernikahan == "4" ? 'selected="selected"'}}>Duda</option> 
                                            </select>
                                        </div>
                                    </div>                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>No. Kartu Pegawai:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="No. Kartu Pegawai" name="no-karpeg" value="{{pegawai ? pegawai.noKarpeg}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>No. BPJS:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="No. Kartu BPJS" name="no-bpjs" value="{{pegawai ? pegawai.noBPJS}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>No. Taspen:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="No. Taspen" name="no-taspen" value="{{pegawai ? pegawai.noTaspen}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>No. Karis/Karsu:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="No. Karis/Karsu" name="no-karis" value="{{pegawai ? pegawai.noKaris}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>NPWP:</label>
                                            <input type="text" autocomplete="off" class="form-control" placeholeder="NPWP" name="no-npwp" value="{{pegawai ? pegawai.noNPWP}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Data Pengangkatan Sebagai CPNS</legend>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>No. Persetujuan BKN:</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholeder="No Persetujuan BKN" name="cpns-no-bkn" value="{{pegawai ? pegawai.cpnsNoBKN}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tgl. Persetujuan BKN:</label>
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                        </span>                                                
                                        <input type="text" autocomplete="off" class="form-control daterange cpns-tgl-bkn" data-variable="cpnsTglBKN" placeholder="Tgl Persetujuan BKN" name="cpns-tgl-bkn" value="{% if pegawai.cpnsTglBKNFormat %}{{pegawai.cpnsTglBKNFormat}}{% endif %}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ditetapkan Oleh:</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholeder="Ditetapkan Oleh" name="cpns-ditetapkan-oleh" value="{{pegawai ? pegawai.cpnsDitetapkanOleh}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pangkat/Golongan:</label>
                                    <select class="custom-select" autocomplete="off" name="cpns-pangkat-golongan">
                                        {% for pk in pangkat %}
                                        <option value="{{pk.jenisPangkatGolonganId}}" 
                                            {% if pegawai %}
                                                {{pegawai.cpnsPangkatGolonganId == pk.jenisPangkatGolonganId ? 'selected="selected"'}}
                                            {% endif %}
                                        >{{pk.golonganRuang}} - {{pk.pangkat}}</option>
                                        {% endfor %}  
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>No. SK CPNS:</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholeder="No SK CPNS" name="cpns-no-sk" value="{{pegawai ? pegawai.cpnsNoSK}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tgl. SK CPNS:</label>
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                        </span>                                                
                                        <input type="text" autocomplete="off" class="form-control daterange cpns-tgl-sk" data-variable="cpnsTglSK" placeholder="Tgl SK CPNS" name="cpns-tgl-sk" value="{% if pegawai.cpnsTglSKFormat %}{{pegawai.cpnsTglSKFormat}}{% endif %}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>TMT CPNS:</label>
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                        </span>                                                
                                        <input type="text" autocomplete="off" class="form-control daterange cpns-tmt" data-variable="cpnsTMT" placeholder="TMT CPNS" name="cpns-tmt" value="{% if pegawai.cpnsTMTFormat %}{{pegawai.cpnsTMTFormat}}{% endif %}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Dokumen SK CPNS:</label>
                                    <input type="file" autocomplete="off" class="form-input-styled" name="file-sk-cpns" aaccept="application/pdf" data-fouc>
                                    <span class="form-text text-muted">Format file pdf. Ukuran maksimum 2MB
                                        {% if pegawai.dokSKCPNS is not null and pegawai.dokSKCPNS is not empty %}
                                            &nbsp;<a href="{{baseUrl}}/assets/pegawai/documents/{{pegawai.dokSKCPNS}}" target="_blank">Lihat...</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Data Pengangkatan Sebagai PNS</legend>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ditetapkan Oleh:</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholeder="Ditetapkan Oleh" name="pns-ditetapkan-oleh" value="{{pegawai ? pegawai.pnsDitetapkanOleh}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pangkat/Golongan:</label>
                                    <select class="custom-select" autocomplete="off" name="pns-pangkat-golongan">
                                        {% for pk in pangkat %}
                                        <option value="{{pk.jenisPangkatGolonganId}}" 
                                            {% if pegawai %}
                                                {{pegawai.pnsPangkatGolonganId == pk.jenisPangkatGolonganId ? 'selected="selected"'}}
                                            {% endif %}
                                        >{{pk.golonganRuang}} - {{pk.pangkat}}</option>
                                        {% endfor %}  
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>No. SK PNS:</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholeder="No SK PNS" name="pns-no-sk" value="{{pegawai ? pegawai.pnsNoSK}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tgl. SK PNS:</label>
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                        </span>                                                
                                        <input type="text" autocomplete="off" class="form-control daterange pns-tgl-sk" data-variable="pnsTglSK" placeholder="Tgl SK PNS" name="pns-tgl-sk" value="{% if pegawai.pnsTglSKFormat %}{{pegawai.pnsTglSKFormat}}{% endif %}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>TMT PNS:</label>
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                        </span>                                                
                                        <input type="text" autocomplete="off" class="form-control daterange pns-tmt" data-variable="pnsTMT" placeholder="TMT PNS" name="pns-tmt" value="{% if pegawai.pnsTMTFormat %}{{pegawai.pnsTMTFormat}}{% endif %}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Dokumen SK PNS:</label>
                                    <input type="file" autocomplete="off" class="form-input-styled" name="file-sk-pns" accept="application/pdf" data-fouc>
                                    <span class="form-text text-muted">Format file pdf. Ukuran maksimum 2MB
                                        {% if pegawai.dokSKPNS is not null and pegawai.dokSKPNS is not empty %}
                                            &nbsp;<a href="{{baseUrl}}/assets/pegawai/documents/{{pegawai.dokSKPNS}}" target="_blank">Lihat...</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>       

                    <!-- Riwayat Gaji Berkala -->
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Data Transaksi Gaji Berkala</legend>

                        <table id="table-gaji-berkala" class="table table-sm table-bordered with-input">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px;">No.</th>
                                    <th class="text-center">No. SK</th>
                                    <th class="text-center">Tgl. SK</th>
                                    <th class="text-center">Tgl. Mulai</th>
                                    <th class="text-center">Masa Kerja Tahun</th>
                                    <th class="text-center">Masa Kerja Bulan</th>
                                    <th class="text-center">Gaji Pokok</th>
                                    <th class="text-center">Dokumen SK</th>
                                    <th class="text-center">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="display: none;">
                                    <td>
                                        <input type="hidden" class="detail-id" name="gbk-id[]" value="0">
                                        <input type="hidden" class="detail-delete" name="gbk-delete[]" value="0"> 
                                        <span class="p-3"></span>
                                    </td>
                                    <td><input type="text" name="gbk-no-sk[]" value=""></td>
                                    <td>
                                        <input type="text" autocomplete="off" class="daterange gbk-tgl-sk" data-variable="gbkTglSK[]" name="gbk-tgl-sk[]" readonly>
                                    </td>
                                    <td>
                                        <input type="text" autocomplete="off" class="daterange gbk-tgl-mulai" data-variable="gbkTglMulai[]" name="gbk-tgl-mulai[]" readonly>
                                    </td>
                                    <td><input type="text" name="gbk-tahun[]" value=""></td>
                                    <td><input type="text" name="gbk-bulan[]" value=""></td>
                                    <td><input type="text" name="gbk-gaji[]" value=""></td>
                                    <td><input type="file" name="gbk-dok[]"></td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                {% for key,g in pegawai.gajiBerkala %}
                                    <tr>
                                        <td>
                                            <input type="hidden" class="gbk-id detail-id" name="gbk-id[]" value="{{g.pegGajiBerkalaId}}">
                                            <input type="hidden" class="gbk-delete detail-delete" name="gbk-delete[]" value="0"> 
                                            <span class="p-3">{{key+1}}</span>
                                        </td>
                                        <td><input type="text" name="gbk-no-sk[]" value="{{g.noSK}}"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange gbk-tgl-sk" data-variable="gbkTglSK[]" name="gbk-tgl-sk[]" value="{% if g.tglSK %}{{g.tglSKFormat}}{% endif %}" readonly>
                                        </td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange gbk-tgl-mulai" data-variable="gbkTglMulai[]" name="gbk-tgl-mulai[]" value="{% if g.tglMulai %}{{g.tglMulaiFormat}}{% endif %}" readonly>
                                        </td>
                                        <td><input type="text" name="gbk-tahun[]" value="{{g.masaKerjaTahun}}"></td>
                                        <td><input type="text" name="gbk-bulan[]" value="{{g.masaKerjaBulan}}"></td>
                                        <td><input type="text" name="gbk-gaji[]" value="{{g.gajiPokok}}"></td>
                                        <td><input type="file" name="gbk-dok[]"></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                {% if g.dokumen is not null and g.dokumen is not empty %}
                                                    <a type="button" class="btn btn-sm alpha-primary border-primary text-primary-800 btn-icon" href="{{baseUrl}}/assets/pegawai/documents/{{g.dokumen}}" target="_blank"><i class="icon-file-pdf"></i></a>
                                                {% endif %}
                                                <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-primary add-detail-row"><i class="icon-plus2 mr-2"></i> Tambah</button>
                        </div>
                    </fieldset>
                    <!-- End Riwayat Gaji Berkala -->

                    <!-- Riwayat Jabatan -->
                    <fieldset class="mb-3 ove">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Riwayat Jabatan</legend>

                        <div style="overflow: auto;">
                            <table id="table-riwayat-jabatan" class="table table-sm table-bordered with-input">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">No.</th>
                                        <th class="text-center" style="min-width: 200px;">Unit Kerja</th>
                                        <th class="text-center" style="min-width: 120px;">Jenis Jabatan</th>
                                        <th class="text-center" style="min-width: 150px;">Nama Jabatan</th>
                                        <th class="text-center">Eselon</th>
                                        <th class="text-center" style="min-width: 150px;">Bidang</th>
                                        <th class="text-center" style="min-width: 100px;">Sub Bidang</th>
                                        <th class="text-center" style="min-width: 80px;">TMT Jabatan</th>
                                        <th class="text-center" style="min-width: 80px;">TMT Eselon</th>
                                        <th class="text-center" style="min-width: 100px;">Ditetapkan Oleh</th>
                                        <th class="text-center" style="min-width: 100px;">No. SK Jabatan</th>
                                        <th class="text-center" style="min-width: 80px;">Tgl. SK Jabatan</th>
                                        <th class="text-center" style="min-width: 100px;">Dokumen SK</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;">
                                        <td>
                                            <input type="hidden" class="detail-id" name="rjb-id[]" value="0">
                                            <input type="hidden" class="detail-delete" name="rjb-delete[]" value="0"> 
                                            <span class="pl-3 pr-3"></span>
                                        </td>
                                        <td><input type="text" name="rjb-unit-kerja[]"></td>
                                        <td><input type="text" name="rjb-jenis-jabatan[]"></td>
                                        <td><input type="text" name="rjb-nama-jabatan[]"></td>
                                        <td><input type="text" name="rjb-eselon[]"></td>
                                        <td><input type="text" name="rjb-bidang[]"></td>
                                        <td><input type="text" name="rjb-sub-bidang[]"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange rjb-tmt-jabatan" data-variable="rjbTmtJabatan[]" name="rjb-tmt-jabatan[]" readonly>
                                        </td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange rjb-tmt-eselon" data-variable="rjbTmtEselon[]" name="rjb-tmt-eselon[]" readonly>
                                        </td>
                                        <td><input type="text" name="rjb-ditetapkan-oleh[]"></td>
                                        <td><input type="text" name="rjb-no-sk[]"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange rjb-tgl-sk" data-variable="rjbTglSK[]" name="rjb-tgl-sk[]" readonly>
                                        </td>
                                        <td><input type="file" name="rjb-dok[]"></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% for key,r in pegawai.jabatan %}
                                        <tr>
                                            <td>
                                                <input type="hidden" class="detail-id" name="rjb-id[]" value="{{r.pegRiwayatJabatanId}}">
                                                <input type="hidden" class="detail-delete" name="rjb-delete[]" value="0"> 
                                                <span class="pl-3 pr-3">{{key+1}}</span>
                                            </td>
                                            <td><input type="text" name="rjb-unit-kerja[]" value="{{r.unitKerja}}"></td>
                                            <td><input type="text" name="rjb-jenis-jabatan[]" value="{{r.jenisJabatan}}"></td>
                                            <td><input type="text" name="rjb-nama-jabatan[]" value="{{r.namaJabatan}}"></td>
                                            <td><input type="text" name="rjb-eselon[]" value="{{r.eselon}}"></td>
                                            <td><input type="text" name="rjb-bidang[]" value="{{r.bidang}}"></td>
                                            <td><input type="text" name="rjb-sub-bidang[]" value="{{r.subBidang}}"></td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange rjb-tmt-jabatan" data-variable="rjbTmtJabatan[]" name="rjb-tmt-jabatan[]" value="{% if r.tmtJabatan %}{{r.tmtJabatanFormat}}{% endif %}" readonly>
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange rjb-tmt-eselon" data-variable="rjbTmtEselon[]" name="rjb-tmt-eselon[]" value="{% if r.tmtEselon %}{{r.tmtEselonFormat}}{% endif %}" readonly>
                                            </td>
                                            <td><input type="text" name="rjb-ditetapkan-oleh[]" value="{{r.ditetapkanOleh}}"></td>
                                            <td><input type="text" name="rjb-no-sk[]" value="{{r.noSKJabatan}}"></td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange rjb-tgl-sk" data-variable="rjbTglSK[]" name="rjb-tgl-sk[]" value="{% if r.tglSKJabatan %}{{r.tglSKJabatanFormat}}{% endif %}" readonly>
                                            </td>
                                            <td><input type="file" name="rjb-dok[]"></td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    {% if r.dokumen is not null and r.dokumen is not empty %}
                                                        <a type="button" class="btn btn-sm alpha-primary border-primary text-primary-800 btn-icon" href="{{baseUrl}}/assets/pegawai/documents/{{r.dokumen}}" target="_blank"><i class="icon-file-pdf"></i></a>
                                                    {% endif %}
                                                    <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-primary add-detail-row"><i class="icon-plus2 mr-2"></i> Tambah</button>
                        </div>
                    </fieldset>
                    <!-- End Riwayat Jabatan -->        

                    <!-- Riwayat Pangkat -->
                    <fieldset class="mb-3 ove">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Riwayat Pangkat</legend>

                        <div style="overflow: auto;">
                            <table id="table-riwayat-pangkat" class="table table-sm table-bordered with-input">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">No.</th>
                                        <th class="text-center" style="min-width: 200px;">Pangkat/Gol. Ruang</th>
                                        <th class="text-center" style="min-width: 80px;">TMT Pangkat</th>
                                        <th class="text-center" style="min-width: 100px;">Ditetapkan Oleh</th>
                                        <th class="text-center" style="min-width: 100px;">No. SK</th>
                                        <th class="text-center" style="min-width: 80px;">Tgl. SK</th>
                                        <th class="text-center" style="min-width: 80px;">Masa Kerja Tahun</th>
                                        <th class="text-center" style="min-width: 80px;">Masa Kerja Bulan</th>
                                        <th class="text-center" style="min-width: 100px;">Dokumen SK</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;">
                                        <td>
                                            <input type="hidden" class="detail-id" name="pkt-id[]" value="0">
                                            <input type="hidden" class="detail-delete" name="pkt-delete[]" value="0"> 
                                            <span class="pl-3 pr-3"></span>
                                        </td>
                                        <td>
                                            <select class="custom-select" autocomplete="off" name="pkt-pangkat[]">
                                                <option value=""></option>
                                                {% for pk in pangkat %}
                                                <option value="{{pk.jenisPangkatGolonganId}}">{{pk.golonganRuang}} - {{pk.pangkat}}</option>
                                                {% endfor %}  
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange pkt-tmt-pangkat" data-variable="pktTmtPangkat[]" name="pkt-tmt-pangkat[]" readonly>
                                        </td>
                                        <td><input type="text" name="pkt-ditetapkan-oleh[]"></td>
                                        <td><input type="text" name="pkt-no-sk[]"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange pkt-tgl-sk" data-variable="pktTglSK[]" name="pkt-tgl-sk[]" readonly>
                                        </td>
                                        <td><input type="text" name="pkt-tahun[]"></td>
                                        <td><input type="text" name="pkt-bulan[]"></td>
                                        <td><input type="file" name="pkt-dok[]"></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% for key,r in pegawai.pangkat %}
                                        <tr>
                                            <td>
                                                <input type="hidden" class="detail-id" name="pkt-id[]" value="{{r.pegRiwayatPangkatId}}">
                                                <input type="hidden" class="detail-delete" name="pkt-delete[]" value="0"> 
                                                <span class="pl-3 pr-3">{{key+1}}</span>
                                            </td>
                                            <td>
                                                <select class="custom-select" autocomplete="off" name="pkt-pangkat[]">
                                                    {% for pk in pangkat %}
                                                    <option value="{{pk.jenisPangkatGolonganId}}" 
                                                        {% if pegawai %}
                                                            {{r.jenisPangkatGolonganId == pk.jenisPangkatGolonganId ? 'selected="selected"'}}
                                                        {% endif %}
                                                    >{{pk.golonganRuang}} - {{pk.pangkat}}</option>
                                                    {% endfor %}  
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange pkt-tmt-pangkat" data-variable="pktTmtPangkat[]" name="pkt-tmt-pangkat[]" value="{% if r.tmtPangkat %}{{r.tmtPangkatFormat}}{% endif %}" readonly>
                                            </td>
                                            <td><input type="text" name="pkt-ditetapkan-oleh[]" value="{{r.ditetapkanOleh}}"></td>
                                            <td><input type="text" name="pkt-no-sk[]" value="{{r.noSKPangkat}}"></td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange pkt-tgl-sk" data-variable="pktTglSK[]" name="pkt-tgl-sk[]" value="{% if r.tglSKPangkat %}{{r.tglSKPangkatFormat}}{% endif %}" readonly>
                                            </td>
                                            <td><input type="text" name="pkt-tahun[]" value="{{r.masaKerjaTahun}}"></td>
                                            <td><input type="text" name="pkt-bulan[]" value="{{r.masaKerjaBulan}}"></td>
                                            <td><input type="file" name="pkt-dok[]"></td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    {% if r.dokumen is not null and r.dokumen is not empty %}
                                                        <a type="button" class="btn btn-sm alpha-primary border-primary text-primary-800 btn-icon" href="{{baseUrl}}/assets/pegawai/documents/{{r.dokumen}}" target="_blank"><i class="icon-file-pdf"></i></a>
                                                    {% endif %}
                                                    <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-primary add-detail-row"><i class="icon-plus2 mr-2"></i> Tambah</button>
                        </div>
                    </fieldset>
                    <!-- End Riwayat Pangkat -->


                    <!-- Bahasa -->
                    <fieldset class="mb-3 ove">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Penguasaan Bahasa</legend>

                        <div style="overflow: auto;">
                            <table id="table-bahasa" class="table table-sm table-bordered with-input">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">No.</th>
                                        <th class="text-center">Bahasa</th>
                                        <th class="text-center">Kemampuan Bahasa</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;">
                                        <td>
                                            <input type="hidden" class="detail-id" name="bhs-id[]" value="0">
                                            <input type="hidden" class="detail-delete" name="bhs-delete[]" value="0"> 
                                            <span class="pl-3 pr-3"></span>
                                        </td>
                                        <td>
                                            <select class="custom-select" autocomplete="off" name="bhs-bahasa[]">
                                                <option value=""></option>
                                                {% for bh in jenisBahasa %}
                                                <option value="{{bh.jenisBahasaId}}" 
                                                    {% if pegawai %}
                                                        {{b.jenisBahasaId == bh.jenisBahasaId ? 'selected="selected"'}}
                                                    {% endif %}
                                                >{{bh.jenisBahasa}}</option>
                                                {% endfor %}  
                                            </select>
                                        </td>
                                        <td>
                                            <select class="custom-select" autocomplete="off" name="bhs-kemampuan[]">
                                                <option value="1">Aktif</option>
                                                <option value="2">Pasif</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% for key,b in pegawai.bahasa %}
                                        <tr>
                                            <td>
                                                <input type="hidden" class="detail-id" name="bhs-id[]" value="{{b.pegBahasaId}}">
                                                <input type="hidden" class="detail-delete" name="bhs-delete[]" value="0"> 
                                                <span class="pl-3 pr-3">{{key+1}}</span>
                                            </td>
                                            <td>
                                                <select class="custom-select" autocomplete="off" name="bhs-bahasa[]">
                                                    {% for bh in jenisBahasa %}
                                                    <option value="{{bh.jenisBahasaId}}" 
                                                        {% if pegawai %}
                                                            {{b.jenisBahasaId == bh.jenisBahasaId ? 'selected="selected"'}}
                                                        {% endif %}
                                                    >{{bh.jenisBahasa}}</option>
                                                    {% endfor %}  
                                                </select>
                                            </td>
                                            <td>
                                                <select class="custom-select" autocomplete="off" name="bhs-kemampuan[]">
                                                    <option value="1" {{b.kemampuan == 1 ? 'selected="selected"'}}>Aktif</option>
                                                    <option value="2" {{b.kemampuan == 2 ? 'selected="selected"'}}>Pasif</option>
                                                </select>
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-primary add-detail-row"><i class="icon-plus2 mr-2"></i> Tambah</button>
                        </div>
                    </fieldset>
                    <!-- End Bahasa -->   


                    <!-- Riwayat Pendidikan -->
                    <fieldset class="mb-3 ove">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Riwayat Pendidikan</legend>

                        <div style="overflow: auto;">
                            <table id="table-riwayat-pendidikan" class="table table-sm table-bordered with-input">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">No.</th>
                                        <th class="text-center" style="min-width: 100px;">Tingkat Pendidikan</th>
                                        <th class="text-center" style="min-width: 80px;">Jurusan</th>
                                        <th class="text-center" style="min-width: 100px;">Nama Sekolah/PTS/PTN</th>
                                        <th class="text-center" style="min-width: 100px;">Tempat</th>
                                        <th class="text-center" style="min-width: 80px;">Nama Kepsek/Rektor</th>
                                        <th class="text-center" style="min-width: 80px;">No. Ijasah</th>
                                        <th class="text-center" style="min-width: 80px;">Tgl Ijasah</th>
                                        <th class="text-center" style="min-width: 100px;">Scan Ijasah</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;">
                                        <td>
                                            <input type="hidden" class="detail-id" name="pdk-id[]" value="0">
                                            <input type="hidden" class="detail-delete" name="pdk-delete[]" value="0"> 
                                            <span class="pl-3 pr-3"></span>
                                        </td>
                                        <td>
                                            <select class="custom-select" autocomplete="off" name="pdk-pendidikan[]">
                                                <option value=""></option>
                                                {% for pk in jenisPendidikan %}
                                                <option value="{{pk.jenisPendidikanId}}">{{pk.jenisPendidikan}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" name="pdk-jurusan[]"></td>
                                        <td><input type="text" name="pdk-insitusi[]"></td>
                                        <td><input type="text" name="pdk-tempat[]"></td>
                                        <td><input type="text" name="pdk-kepala[]"></td>
                                        <td><input type="text" name="pdk-no-ijasah[]"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange pdk-tgl-ijasah" data-variable="pdkTglIjasah[]" name="pdk-tgl-ijasah[]" readonly>
                                        </td>
                                        <td><input type="file" name="pdk-dok[]"></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    {% for key,r in pegawai.pendidikan %}
                                        <tr>
                                            <td>
                                                <input type="hidden" class="detail-id" name="pdk-id[]" value="{{r.pegRiwayatPendidikanId}}">
                                                <input type="hidden" class="detail-delete" name="pdk-delete[]" value="0"> 
                                                <span class="pl-3 pr-3">{{key+1}}</span>
                                            </td>
                                            <td>
                                                <select class="custom-select" autocomplete="off" name="pdk-pendidikan[]">
                                                    {% for pk in jenisPendidikan %}
                                                    <option value="{{pk.jenisPendidikanId}}" 
                                                        {% if pegawai %}
                                                            {{r.jenisPendidikanId == pk.jenisPendidikanId ? 'selected="selected"'}}
                                                        {% endif %}
                                                    >{{pk.jenisPendidikan}}</option>
                                                    {% endfor %}  
                                                </select>
                                            </td>
                                            <td><input type="text" name="pdk-jurusan[]" value="{{r.jurusan}}"></td>
                                            <td><input type="text" name="pdk-insitusi[]" value="{{r.namaInstitusi}}"></td>
                                            <td><input type="text" name="pdk-tempat[]" value="{{r.tempat}}"></td>
                                            <td><input type="text" name="pdk-kepala[]" value="{{r.namaKepala}}"></td>
                                            <td><input type="text" name="pdk-no-ijasah[]" value="{{r.noIjasah}}"></td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange pdk-tgl-ijasah" data-variable="pdkTglIjasah[]" name="pdk-tgl-ijasah[]" value="{% if r.tglIjasah %}{{r.tglIjasahFormat}}{% endif %}" readonly>
                                            </td>
                                            <td><input type="file" name="pdk-dok[]"></td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    {% if r.dokumen is not null and r.dokumen is not empty %}
                                                        <a type="button" class="btn btn-sm alpha-primary border-primary text-primary-800 btn-icon" href="{{baseUrl}}/assets/pegawai/documents/{{r.dokumen}}" target="_blank"><i class="icon-file-pdf"></i></a>
                                                    {% endif %}
                                                    <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-primary add-detail-row"><i class="icon-plus2 mr-2"></i> Tambah</button>
                        </div>
                    </fieldset>
                    <!-- End Riwayat Pendidikan -->


                    <!-- Riwayat Diklat -->
                    <fieldset class="mb-3 ove">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Riwayat Diklat</legend>

                        <div style="overflow: auto;">
                            <table id="table-riwayat-pendidikan" class="table table-sm table-bordered with-input">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">No.</th>
                                        <th class="text-center" style="min-width: 100px;">Jenis Diklat</th>
                                        <th class="text-center" style="min-width: 100px;">Nama Diklat</th>
                                        <th class="text-center" style="min-width: 100px;">Tempat Diklat</th>
                                        <th class="text-center" style="min-width: 100px;">Penyelenggara</th>
                                        <th class="text-center" style="min-width: 50px;">Angkatan</th>
                                        <th class="text-center" style="min-width: 80px;">Tgl Mulai</th>
                                        <th class="text-center" style="min-width: 80px;">Tgl Selesai</th>
                                        <th class="text-center" style="min-width: 80px;">No. STTP</th>
                                        <th class="text-center" style="min-width: 80px;">Tgl STTP</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;">
                                        <td>
                                            <input type="hidden" class="detail-id" name="dkt-id[]" value="0">
                                            <input type="hidden" class="detail-delete" name="dkt-delete[]" value="0"> 
                                            <span class="pl-3 pr-3"></span>
                                        </td>
                                        <td>
                                            <select class="custom-select" autocomplete="off" name="dkt-diklat[]">
                                                <option value=""></option>
                                                <option value="1">Diklat Fungsional</option>
                                                <option value="2">Diklat Struktural</option>
                                                <option value="3">Diklat Teknis</option>
                                            </select>
                                        </td>
                                        <td><input type="text" name="dkt-nama[]"></td>
                                        <td><input type="text" name="dkt-tempat[]"></td>
                                        <td><input type="text" name="dkt-penyelenggara[]"></td>
                                        <td><input type="text" name="dkt-angkatan[]"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange dkt-tgl-mulai" data-variable="dktTglMulai[]" name="dkt-tgl-mulai[]" readonly>
                                        </td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange dkt-tgl-selesai" data-variable="dktTglSelesai[]" name="dkt-tgl-selesai[]" readonly>
                                        </td>
                                        <td><input type="text" name="dkt-no-sttp[]"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange dkt-tgl-sttp" data-variable="dktTglSTTP[]" name="dkt-tgl-sttp[]" readonly>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% for key,r in pegawai.diklat %}
                                        <tr>
                                            <td>
                                                <input type="hidden" class="detail-id" name="dkt-id[]" value="{{r.pegDiklatId}}">
                                                <input type="hidden" class="detail-delete" name="dkt-delete[]" value="0"> 
                                                <span class="pl-3 pr-3">{{key+1}}</span>
                                            </td>
                                            <td>
                                                <select class="custom-select" autocomplete="off" name="dkt-diklat[]">
                                                    <option value="1" {{r.jenisDiklat == 1 ? 'selected="selected"'}}>Diklat Fungsional</option>
                                                    <option value="2" {{r.jenisDiklat == 2 ? 'selected="selected"'}}>Diklat Struktural</option>
                                                    <option value="3" {{r.jenisDiklat == 3 ? 'selected="selected"'}}>Diklat Teknis</option>
                                                </select>
                                            </td>
                                            <td><input type="text" name="dkt-nama[]" value="{{r.namaDiklat}}"></td>
                                            <td><input type="text" name="dkt-tempat[]" value="{{r.tempatDiklat}}"></td>
                                            <td><input type="text" name="dkt-penyelenggara[]" value="{{r.penyelenggara}}"></td>
                                            <td><input type="text" name="dkt-angkatan[]" value="{{r.angkatan}}"></td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange dkt-tgl-mulai" data-variable="dktTglMulai[]" name="dkt-tgl-mulai[]" value="{% if r.tglMulai %}{{r.tglMulaiFormat}}{% endif %}" readonly>
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange dkt-tgl-selesai" data-variable="dktTglSelesai[]" name="dkt-tgl-selesai[]" value="{% if r.tglSelesai %}{{r.tglSelesaiFormat}}{% endif %}" readonly>
                                            </td>
                                            <td><input type="text" name="dkt-no-sttp[]" value="{{r.noSTTP}}"></td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange dkt-tgl-sttp" data-variable="dktTglSTTP[]" name="dkt-tgl-sttp[]" value="{% if r.tglSTTP %}{{r.tglSTTPFormat}}{% endif %}" readonly>
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-primary add-detail-row"><i class="icon-plus2 mr-2"></i> Tambah</button>
                        </div>
                    </fieldset>
                    <!-- End Riwayat Diklat -->


                    <!-- Riwayat Penghargaan -->
                    <fieldset class="mb-3 ove">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Riwayat Penghargaan</legend>

                        <div style="overflow: auto;">
                            <table id="table-riwayat-penghargaan" class="table table-sm table-bordered with-input">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">No.</th>
                                        <th class="text-center" style="min-width: 100px;">Nama Penghargaan</th>
                                        <th class="text-center" style="min-width: 100px;">Asal Penghargaan</th>
                                        <th class="text-center" style="min-width: 50px;">Tahun</th>
                                        <th class="text-center" style="min-width: 80px;">No. Piagam</th>
                                        <th class="text-center" style="min-width: 80px;">Tgl Piagam</th>
                                        <th class="text-center" style="min-width: 100px;">Scan Piagam</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;">
                                        <td>
                                            <input type="hidden" class="detail-id" name="phg-id[]" value="0">
                                            <input type="hidden" class="detail-delete" name="phg-delete[]" value="0"> 
                                            <span class="pl-3 pr-3"></span>
                                        </td>
                                        <td><input type="text" name="phg-nama[]"></td>
                                        <td><input type="text" name="phg-asal[]"></td>
                                        <td><input type="text" name="phg-tahun[]"></td>
                                        <td><input type="text" name="phg-no-piagam[]"></td>
                                        <td>
                                            <input type="text" autocomplete="off" class="daterange phg-tgl-piagam" data-variable="phgTglPiagam[]" name="phg-tgl-piagam[]" readonly>
                                        </td>
                                        <td><input type="file" name="phg-dok[]"></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% for key,r in pegawai.penghargaan %}
                                        <tr>
                                            <td>
                                                <input type="hidden" class="detail-id" name="phg-id[]" value="{{r.pegPenghargaanId}}">
                                                <input type="hidden" class="detail-delete" name="phg-delete[]" value="0"> 
                                                <span class="pl-3 pr-3">{{key+1}}</span>
                                            </td>
                                            <td><input type="text" name="phg-nama[]" value="{{r.namaPenghargaan}}"></td>
                                            <td><input type="text" name="phg-asal[]" value="{{r.asal}}"></td>
                                            <td><input type="text" name="phg-tahun[]" value="{{r.tahun}}"></td>
                                            <td><input type="text" name="phg-no-piagam[]" value="{{r.noPiagam}}"></td>
                                            <td>
                                                <input type="text" autocomplete="off" class="daterange phg-tgl-piagam" data-variable="phgTglPiagam[]" name="phg-tgl-piagam[]" value="{% if r.tglPiagam %}{{r.tglPiagamFormat}}{% endif %}" readonly>
                                            </td>
                                            <td><input type="file" name="phg-dok[]"></td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    {% if r.dokumen is not null and r.dokumen is not empty %}
                                                        <a type="button" class="btn btn-sm alpha-primary border-primary text-primary-800 btn-icon" href="{{baseUrl}}/assets/pegawai/documents/{{r.dokumen}}" target="_blank"><i class="icon-file-pdf"></i></a>
                                                    {% endif %}
                                                    <button type="button" class="btn btn-sm alpha-danger border-danger text-danger-800 btn-icon remove-detail-row"><i class="icon-cross3"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-primary add-detail-row"><i class="icon-plus2 mr-2"></i> Tambah</button>
                        </div>
                    </fieldset>
                    <!-- End Riwayat Penghargaan -->


                    <fieldset class="mb-3">
                        <div class="text-right mt-5">
                            <button type="button" class="btn btn-primary" id="test">Test</button>
                            <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- End Pegawai Form -->


    </div>
    <!-- End Content Area -->
{% endblock site_content %}
